footer
  .container.text-center
    p.float-left Thanks to 
      a(href='https://github.com/sahat') Sahat Yalkabov
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/pavgup/pg.gl') Source Code
      li.list-inline-item
        a(href='https://github.com/pavgup/pg.gl/issues') Issues
