doctype html
head
  title Give PPE; Give Life
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main.css')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header
    img(src="/images/303446.svg", width=100, height=100)
    .content
      .inner
        h1 Step up! Donate PPE, cash, and demand PPE NOW!
    nav
      ul
        li
          a(href='#donateppe') Donate PPE
        li
          a(href='#donatemoney') Donate Money
        li
          a(href='#demandppe') Demand PPE</li>
  // Main
  #main
    // donateppe
    article#donateppe
      h2.major Donate PPE!
      p
        | The process is simple: 
        ol
          li locate unused masks, gowns, sanitizer, etc.
          li claim your free shipping label
          li ship your donation to health systems in need.
      form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf2IRaaCztYXu7VSKaEYwRIFdet1SCeLgkdRJd1c01f83Qo-Q/formResponse", method="POST")
        p
          | Email Address
        input(type="email" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="email" tabindex="0" aria-label="Your email" name="emailAddress" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;")
        br
        p
          | Name
        input(type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name" aria-describedby="i.desc.11247899 i.err.11247899" name="entry.1407689546" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="")
        br
        p
          | Address
        textarea(class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="5" tabindex="0" aria-label="Address" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="entry.56289850" dir="auto" data-initial-dir="auto" data-initial-value="" aria-describedby="i.desc.155411742 i.err.155411742" style="height: 45px;")
        br
        p
          | Phone Number
        input(type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Phone Number" aria-describedby="i.desc.388751965 i.err.388751965" name="entry.2038263190" value="" dir="auto" data-initial-dir="auto" data-initial-value="" aria-invalid="false")
        br
        p
          | What unused supplies can you donate?
        textarea(class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="1" tabindex="0" aria-label="What unused supplies can you donate?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="entry.1814992731" dir="auto" data-initial-dir="auto" data-initial-value="" aria-describedby="i.desc.146203845 i.err.146203845" style="height: 100px;" aria-invalid="true")
        br
        p
          | Special Requests?
        input(type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Special Request?" aria-describedby="i.desc.1200321516 i.err.1200321516" name="entry.534192332" value="" dir="auto" data-initial-dir="auto" data-initial-value="" aria-invalid="false")
        br
        input(type="Submit")
    // Work
    article#donatemoney
      h2.major Donate Money
      span.image.main
        img(src='images/pic02.jpg' alt='')
      p
        | Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.
      p
        | Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.
    // About
    article#demandppe
      h2.major We hear you!
      h2.minor What do you need? How do we contact you?
      p
        | Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.
    // Contact
    article#contact
      h2.major Contact
      form(method='post' action='#')
        .fields
          .field.half
            label(for='name') Name
            input#name(type='text' name='name')
          .field.half
            label(for='email') Email
            input#email(type='text' name='email')
          .field
            label(for='message') Message
            textarea#message(name='message' rows='4')
        ul.actions
          li
            input.primary(type='submit' value='Send Message')
          li
            input(type='reset' value='Reset')
      ul.icons
        li
          a.icon.brands.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.brands.fa-facebook-f(href='#')
            span.label Facebook
        li
          a.icon.brands.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.brands.fa-github(href='#')
            span.label GitHub
    // Elements
    article#elements
      h2.major Elements
      section
        h3.major Text
        p
          | This is 
          b bold
          |  and this is 
          strong strong
          | . This is 
          i italic
          |  and this is 
          em emphasized
          | .
          |                                     This is 
          sup superscript
          |  text and this is 
          sub subscript
          |  text.
          |                                     This is 
          u underlined
          |  and this is code: 
          code for (;;) { ... }
          | . Finally, 
          a(href='#') this is a link
          | .
        hr
        h2 Heading Level 2
        h3 Heading Level 3
        h4 Heading Level 4
        h5 Heading Level 5
        h6 Heading Level 6
        hr
        h4 Blockquote
        blockquote
          | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
        h4 Preformatted
        pre.
          
      section
        h3.major Lists
        h4 Unordered
        ul
          li Dolor pulvinar etiam.
          li Sagittis adipiscing.
          li Felis enim feugiat.
        h4 Alternate
        ul.alt
          li Dolor pulvinar etiam.
          li Sagittis adipiscing.
          li Felis enim feugiat.
        h4 Ordered
        ol
          li Dolor pulvinar etiam.
          li Etiam vel felis viverra.
          li Felis enim feugiat.
          li Dolor pulvinar etiam.
          li Etiam vel felis lorem.
          li Felis enim et feugiat.
        h4 Icons
        ul.icons
          li
            a.icon.brands.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.brands.fa-facebook-f(href='#')
              span.label Facebook
          li
            a.icon.brands.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.brands.fa-github(href='#')
              span.label Github
        h4 Actions
        ul.actions
          li
            a.button.primary(href='#') Default
          li
            a.button(href='#') Default
        ul.actions.stacked
          li
            a.button.primary(href='#') Default
          li
            a.button(href='#') Default
      section
        h3.major Table
        h4 Default
        .table-wrapper
          table
            thead
              tr
                th Name
                th Description
                th Price
            tbody
              tr
                td Item One
                td Ante turpis integer aliquet porttitor.
                td 29.99
              tr
                td Item Two
                td Vis ac commodo adipiscing arcu aliquet.
                td 19.99
              tr
                td Item Three
                td  Morbi faucibus arcu accumsan lorem.
                td 29.99
              tr
                td Item Four
                td Vitae integer tempus condimentum.
                td 19.99
              tr
                td Item Five
                td Ante turpis integer aliquet porttitor.
                td 29.99
            tfoot
              tr
                td(colspan='2')
                td 100.00
        h4 Alternate
        .table-wrapper
          table.alt
            thead
              tr
                th Name
                th Description
                th Price
            tbody
              tr
                td Item One
                td Ante turpis integer aliquet porttitor.
                td 29.99
              tr
                td Item Two
                td Vis ac commodo adipiscing arcu aliquet.
                td 19.99
              tr
                td Item Three
                td  Morbi faucibus arcu accumsan lorem.
                td 29.99
              tr
                td Item Four
                td Vitae integer tempus condimentum.
                td 19.99
              tr
                td Item Five
                td Ante turpis integer aliquet porttitor.
                td 29.99
            tfoot
              tr
                td(colspan='2')
                td 100.00
      section
        h3.major Buttons
        ul.actions
          li
            a.button.primary(href='#') Primary
          li
            a.button(href='#') Default
        ul.actions
          li
            a.button(href='#') Default
          li
            a.button.small(href='#') Small
        ul.actions
          li
            a.button.primary.icon.solid.fa-download(href='#') Icon
          li
            a.button.icon.solid.fa-download(href='#') Icon
        ul.actions
          li
            span.button.primary.disabled Disabled
          li
            span.button.disabled Disabled
      section
        h3.major Form
        form(method='post' action='#')
          .fields
            .field.half
              label(for='demo-name') Name
              input#demo-name(type='text' name='demo-name' value='' placeholder='Jane Doe')
            .field.half
              label(for='demo-email') Email
              input#demo-email(type='email' name='demo-email' value='' placeholder='jane@untitled.tld')
            .field
              label(for='demo-category') Category
              select#demo-category(name='demo-category')
                option(value='') -
                option(value='1') Manufacturing
                option(value='1') Shipping
                option(value='1') Administration
                option(value='1') Human Resources
            .field.half
              input#demo-priority-low(type='radio' name='demo-priority' checked='')
              label(for='demo-priority-low') Low
            .field.half
              input#demo-priority-high(type='radio' name='demo-priority')
              label(for='demo-priority-high') High
            .field.half
              input#demo-copy(type='checkbox' name='demo-copy')
              label(for='demo-copy') Email me a copy
            .field.half
              input#demo-human(type='checkbox' name='demo-human' checked='')
              label(for='demo-human') Not a robot
            .field
              label(for='demo-message') Message
              textarea#demo-message(name='demo-message' placeholder='Enter your message' rows='6')
          ul.actions
            li
              input.primary(type='submit' value='Send Message')
            li
              input(type='reset' value='Reset')
  // Footer
  footer#footer
    p.copyright
      | &copy; None. 
      a(href='https://github.com/pavgup/pg.gl') Steal this.
      |  Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// BG
#bg
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
