doctype html
//
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  Note: Only needed for demo purposes. Delete for production sites.
head
  title Story by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main.css')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper.divided
  // Banner
  section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
    .content
      h1 Story
      p.major
        | A (modular, highly tweakable) responsive one-page template designed by 
        a(href='https://html5up.net') HTML5 UP
        |  and released for free under the 
        a(href='https://html5up.net/license') Creative Commons
        | .
      p
        | This is a 
        strong Banner
        |  element, and it&apos;s generally used as an introduction or opening statement. You can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-banner') details
        | ).
      ul.actions.stacked
        li
          a.button.large.wide.smooth-scroll-middle(href='#first') Get Started
    .image
      img(src='images/banner.jpg' alt='')
  // Spotlight
  section#first.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Spotlight
      p
        | This is a 
        strong Spotlight
        |  element, and it&apos;s generally used &ndash; as its name implies &ndash; to spotlight a particular feature, subject, or pretty much whatever. You can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-spotlight') details
        | ).
      ul.actions.stacked
        li
          a.button(href='#') Learn More
    .image
      img(src='images/spotlight01.jpg' alt='')
  // Spotlight
  section.spotlight.style1.orient-left.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Spotlight
      p
        | This is also a 
        strong Spotlight
        |  element, and it&apos;s here because this demo would look a bit empty with just one spotlight. Like all spotlights, you can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-spotlight') details
        | ).
      ul.actions.stacked
        li
          a.button(href='#') Learn More
    .image
      img(src='images/spotlight02.jpg' alt='')
  // Spotlight
  section.spotlight.style1.orient-right.content-align-left.image-position-center.onscroll-image-fade-in
    .content
      h2 Spotlight
      p
        | And yes, this is another 
        strong Spotlight
        |  element, and it&apos;s also here because I need to fill a bit of space. Naturally, like any other spotlight, you can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-spotlight') details
        | ).
      ul.actions.stacked
        li
          a.button(href='#') Learn More
    .image
      img(src='images/spotlight03.jpg' alt='')
  // Gallery
  section.wrapper.style1.align-center
    .inner
      h2 Gallery
      p
        | This is a 
        strong Gallery
        |  element. It can behave as a lightbox (when given the 
        code lightbox
        |  class), and you can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-gallery') details
        | ).
    // Gallery
    .gallery.style2.medium.lightbox.onscroll-fade-in
      article
        a.image(href='images/gallery/fulls/01.jpg')
          img(src='images/gallery/thumbs/01.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/02.jpg')
          img(src='images/gallery/thumbs/02.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/03.jpg')
          img(src='images/gallery/thumbs/03.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/04.jpg')
          img(src='images/gallery/thumbs/04.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/05.jpg')
          img(src='images/gallery/thumbs/05.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/06.jpg')
          img(src='images/gallery/thumbs/06.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/07.jpg')
          img(src='images/gallery/thumbs/07.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/08.jpg')
          img(src='images/gallery/thumbs/08.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/09.jpg')
          img(src='images/gallery/thumbs/09.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/10.jpg')
          img(src='images/gallery/thumbs/10.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/11.jpg')
          img(src='images/gallery/thumbs/11.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
      article
        a.image(href='images/gallery/fulls/12.jpg')
          img(src='images/gallery/thumbs/12.jpg' alt='')
        .caption
          h3 Title
          p Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.
          ul.actions.fixed
            li
              span.button.small Details
  // Items
  section.wrapper.style1.align-center
    .inner
      h2 Items
      p
        | This is an 
        strong Items
        |  element, and it&apos;s basically just a grid for organizing items of various types. You can customize its 
        span.demo-controls appearance with a number of modifiers
        | , as well as assign it an optional 
        code onload
        |  or 
        code onscroll
        |  transition modifier (
        a(href='#reference-items') details
        | ).
      .items.style1.medium.onscroll-fade-in
        section
          span.icon.style2.major.fa-gem
          h3 One
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-save
          h3 Two
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-chart-bar
          h3 Three
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-wifi
          h3 Four
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-cog
          h3 Five
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.style2.major.fa-paper-plane
          h3 Six
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-desktop
          h3 Seven
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-sync-alt
          h3 Eight
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-hashtag
          h3 Nine
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-bolt
          h3 Ten
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.style2.major.fa-envelope
          h3 Eleven
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
        section
          span.icon.solid.style2.major.fa-leaf
          h3 Twelve
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.
  // Additional Elements
  section.wrapper.style1.align-center
    .inner
      h2 Additional Elements
      p
        | Finally, here are some additional elements you 
        em might
        |  find useful (and yup, they look fine with any 
        span.demo-controls appearance
        | ).
      .index.align-left
        // Text
        section
          header
            h3 Text
          .content
            p
              | This is 
              b bold
              |  and this is 
              strong strong
              | . This is 
              i italic
              |  and this is 
              em emphasized
              | .
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;This is 
              sup superscript
              |  text and this is 
              sub subscript
              |  text.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;This is 
              u underlined
              |  and this is code: 
              code for (;;) { ... }
              | .
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Finally, this is a 
              a(href='#') link
              | .
        // Heading
        section
          header
            h3 Headings
          .content
            h1 Heading Level 1
            h2 Heading Level 2
            h3 Heading Level 3
            h4 Heading Level 4
            h5 Heading Level 5
            h6 Heading Level 6
            hr
            header
              h1 Heading with a Subtitle
              p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
            p
              | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
            hr
            header
              h2 Heading with a Subtitle
              p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
            p
              | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
            hr
            header
              h3 Heading with a Subtitle
              p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
            p
              | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
        // Unordered List
        section
          header
            h3 Unordered List
          .content
            h4 Default
            ul
              li Lorem ipsum dolor sit amet
              li Interdum adipiscing gravida odio
              li Porttitor sem non integer
              li Non faucibus ornare mi ut ante
              li Sagittis adipiscing eleifend
              li Felis amet dolore viverra
            h4 Alternate
            ul.alt
              li Lorem ipsum dolor sit amet
              li Interdum adipiscing gravida odio
              li Porttitor sem non integer
              li Non faucibus ornare mi ut ante
              li Sagittis adipiscing eleifend
              li Felis amet dolore viverra
        // Ordered List
        section
          header
            h3 Ordered List
          .content
            ol
              li Lorem ipsum dolor sit amet
              li Interdum adipiscing gravida odio
              li Porttitor sem non integer
              li Non faucibus ornare mi ut ante
              li Sagittis adipiscing eleifend
              li Felis amet dolore viverra
        // Definition List
        section
          header
            h3 Definition List
          .content
            dl
              dt Interdum adipiscing odio
              dd
                p
                  | Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.
              dt Non faucibus ornare mi ut ante
              dd
                p
                  | Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.
              dt Felis amet dolore viverra
              dd
                p
                  | Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.
        // Blockquote
        section
          header
            h3 Blockquote
          .content
            blockquote
              | Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod. Ante ipsum primis vestibulum.
        // Code
        section
          header
            h3 Code
          .content
            pre.
              
        // Icons
        section
          header
            h3 Icons
          .content
            h4 Style #1
            ul.icons
              li
                a.icon.brands.style1.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.brands.style1.fa-facebook-f(href='#')
                  span.label Facebook
              li
                a.icon.brands.style1.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.brands.style1.fa-github(href='#')
                  span.label Github
              li
                a.icon.brands.style1.fa-dribbble(href='#')
                  span.label Dribbble
            h4 Style #2
            ul.icons
              li
                a.icon.brands.style2.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.brands.style2.fa-facebook-f(href='#')
                  span.label Facebook
              li
                a.icon.brands.style2.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.brands.style2.fa-github(href='#')
                  span.label Github
              li
                a.icon.brands.style2.fa-dribbble(href='#')
                  span.label Dribbble
        // Buttons
        section
          header
            h3 Buttons
          .content
            ul.actions
              li
                a.button.primary(href='#') Primary
              li
                a.button(href='#') Default
            ul.actions
              li
                a.button.primary.large(href='#') Large
              li
                a.button(href='#') Default
              li
                a.button.small(href='#') Small
            ul.actions.fit
              li
                a.button.primary.fit(href='#') Fit
              li
                a.button.fit(href='#') Fit
              li
                a.button.primary.fit(href='#') Fit
              li
                a.button.fit(href='#') Fit
            ul.actions.fit.small
              li
                a.button.primary.fit.small(href='#') Fit + Small
              li
                a.button.fit.small(href='#') Fit + Small
              li
                a.button.primary.fit.small(href='#') Fit + Small
              li
                a.button.fit.small(href='#') Fit + Small
            ul.actions
              li
                a.button.primary.icon.solid.fa-search(href='#') Icon
              li
                a.button.icon.solid.fa-download(href='#') Icon
            ul.actions
              li
                span.button.primary.disabled Primary
              li
                span.button.disabled Default
        // Actions
        section
          header
            h3 Actions
          .content
            h4 Default
            ul.actions
              li
                a.button.primary(href='#') Default
              li
                a.button(href='#') Default
            h4 Small
            ul.actions.small
              li
                a.button.primary.small(href='#') Small
              li
                a.button.small(href='#') Small
            h4 Stacked
            ul.actions.stacked
              li
                a.button.primary(href='#') Default
              li
                a.button(href='#') Default
            h4 Stacked + Fit
            ul.actions.stacked
              li
                a.button.primary.fit(href='#') Default
              li
                a.button.fit(href='#') Default
        // Form
        section
          header
            h3 Form
          .content
            form(method='post' action='#')
              .fields
                .field.half
                  label(for='name') Name
                  input#name(type='text' name='name' value='')
                .field.half
                  label(for='email') Email
                  input#email(type='email' name='email' value='')
                .field
                  label(for='department') Department
                  select#department(name='department')
                    option(value='') - Category -
                    option(value='1') Manufacturing
                    option(value='2') Shipping
                    option(value='3') Administration
                    option(value='4') Human Resources
                .field.third
                  input#priority-low(type='radio' name='priority' checked='')
                  label(for='priority-low') Low Priority
                .field.third
                  input#priority-normal(type='radio' name='priority')
                  label(for='priority-normal') Normal Priority
                .field.third
                  input#priority-high(type='radio' name='priority')
                  label(for='priority-high') High Priority
                .field
                  label(for='message') Message
                  textarea#message(name='message' rows='6')
                .field.half
                  input#copy(type='checkbox' name='copy')
                  label(for='copy') Email me a copy of this message
                .field.half
                  input#human(type='checkbox' name='human' checked='')
                  label(for='human') I am a human and not a robot
              ul.actions
                li
                  input#submit(type='submit' name='submit' value='Send Message')
        // Table
        section
          header
            h3 Table
          .content
            h4 Default
            .table-wrapper
              table
                thead
                  tr
                    th Name
                    th Description
                    th Price
                tbody
                  tr
                    td Item 1
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                  tr
                    td Item 2
                    td Vis ac commodo adipiscing arcu aliquet.
                    td 19.99
                  tr
                    td Item 3
                    td  Morbi faucibus arcu accumsan lorem.
                    td 29.99
                  tr
                    td Item 4
                    td Vitae integer tempus condimentum.
                    td 19.99
                  tr
                    td Item 5
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                tfoot
                  tr
                    td(colspan='2')
                    td 100.00
            h4 Alternate
            .table-wrapper
              table.alt
                thead
                  tr
                    th Name
                    th Description
                    th Price
                tbody
                  tr
                    td Item 1
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                  tr
                    td Item 2
                    td Vis ac commodo adipiscing arcu aliquet.
                    td 19.99
                  tr
                    td Item 3
                    td  Morbi faucibus arcu accumsan lorem.
                    td 29.99
                  tr
                    td Item 4
                    td Vitae integer tempus condimentum.
                    td 19.99
                  tr
                    td Item 5
                    td Ante turpis integer aliquet porttitor.
                    td 29.99
                tfoot
                  tr
                    td(colspan='2')
                    td 100.00
        // Images
        section
          header
            h3 Images
          .content
            h4 Fit
            span.image.fit
              img(src='images/banner.jpg' alt='')
            h4 Left
            p
              span.image.left
                img(src='images/pic01.jpg' alt='')
              | Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.
            h4 Right
            p
              span.image.right
                img(src='images/pic02.jpg' alt='')
              | Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.
        // Box
        section
          header
            h3 Box
          .content
            .box
              p
                | Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus lorem ipsum dolor sit amet nullam.
  // Modifiers
  section#reference.wrapper.style1.align-center
    .inner
      h2 Elements Reference
      p
        | Oh, and this: a handy reference to all the modifiers supported by various elements.
      .index.align-left
        // Banner
        section#reference-banner
          header
            h3 Banner
          .content
            h4 HTML
            pre.
              
            hr
            // style1
            section
              h4
                code banner style1
              p A 50/50 vertical split between content and an image. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Shows content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Shows content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style2
            section
              h4
                code banner style2
              p
                | Boxed-in content set against an image background, and attached to either side of the screen or centered. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Attaches the content box to the left edge of the screen.
                    tr
                      td
                        code orient-center
                      td Places the content box in the center of the screen.
                    tr
                      td
                        code orient-right
                      td Attaches the content box to the right edge of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style3
            section
              h4
                code banner style3
              p
                | An image within a circular frame placed to the side of content. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Places the content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Places the content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-up
                      td Fades image up on page load.
                    tr
                      td
                        code onload-image-fade-down
                      td Fades image down on page load.
                    tr
                      td
                        code onload-image-fade-left
                      td Fades image left on page load.
                    tr
                      td
                        code onload-image-fade-right
                      td Fades image right on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-up
                      td Fades image up on page scroll.
                    tr
                      td
                        code onscroll-image-fade-down
                      td Fades image down on page scroll.
                    tr
                      td
                        code onscroll-image-fade-left
                      td Fades image left on page scroll.
                    tr
                      td
                        code onscroll-image-fade-right
                      td Fades image right on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style4
            section
              h4
                code banner style4
              p
                | An image within a phone-shaped frame placed to the side of content. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code iphone
                      td Uses iPhone styling for image frame.
                    tr
                      td
                        code android
                      td Uses Android styling for image frame.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Places the content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Places the content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-up
                      td Fades image up on page load.
                    tr
                      td
                        code onload-image-fade-down
                      td Fades image down on page load.
                    tr
                      td
                        code onload-image-fade-left
                      td Fades image left on page load.
                    tr
                      td
                        code onload-image-fade-right
                      td Fades image right on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-up
                      td Fades image up on page scroll.
                    tr
                      td
                        code onscroll-image-fade-down
                      td Fades image down on page scroll.
                    tr
                      td
                        code onscroll-image-fade-left
                      td Fades image left on page scroll.
                    tr
                      td
                        code onscroll-image-fade-right
                      td Fades image right on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style5
            section
              h4
                code banner style5
              p Content set directly against an image background. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
        // Spotlight
        section#reference-spotlight
          header
            h3 Spotlight
          .content
            h4 HTML
            pre.
              
            hr
            // style1
            section
              h4
                code spotlight style1
              p
                | A 30/70 (or 70/30, depending on orientation) vertical split between content and an image. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code orient-left
                      td Shows content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Shows content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style2
            section
              h4
                code spotlight style2
              p
                | An image within a circular frame placed to the side of content. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code orient-left
                      td Places the content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Places the content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-up
                      td Fades image up on page load.
                    tr
                      td
                        code onload-image-fade-down
                      td Fades image down on page load.
                    tr
                      td
                        code onload-image-fade-left
                      td Fades image left on page load.
                    tr
                      td
                        code onload-image-fade-right
                      td Fades image right on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-up
                      td Fades image up on page scroll.
                    tr
                      td
                        code onscroll-image-fade-down
                      td Fades image down on page scroll.
                    tr
                      td
                        code onscroll-image-fade-left
                      td Fades image left on page scroll.
                    tr
                      td
                        code onscroll-image-fade-right
                      td Fades image right on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style3
            section
              h4
                code spotlight style3
              p
                | An image within a phone-shaped frame placed to the side of content. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code orient-left
                      td Places the content on the left, image on the right.
                    tr
                      td
                        code orient-right
                      td Places the content on the right, image on the left.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-up
                      td Fades image up on page load.
                    tr
                      td
                        code onload-image-fade-down
                      td Fades image down on page load.
                    tr
                      td
                        code onload-image-fade-left
                      td Fades image left on page load.
                    tr
                      td
                        code onload-image-fade-right
                      td Fades image right on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-up
                      td Fades image up on page scroll.
                    tr
                      td
                        code onscroll-image-fade-down
                      td Fades image down on page scroll.
                    tr
                      td
                        code onscroll-image-fade-left
                      td Fades image left on page scroll.
                    tr
                      td
                        code onscroll-image-fade-right
                      td Fades image right on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style4
            section
              h4
                code spotlight style4
              p
                | Boxed-in content set against an image background, and attached to either side of the screen or centered. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr
                      td
                        code halfscreen
                      td Fills half the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Attaches the content box to the left edge of the screen.
                    tr
                      td
                        code orient-center
                      td Places the content box in the center of the screen.
                    tr
                      td
                        code orient-right
                      td Attaches the content box to the right edge of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
            hr
            // style5
            section
              h4
                code spotlight style5
              p Boxed-in content set against an image background. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code fullscreen
                      td Fills the height of the screen.
                    tr
                      td
                        code halfscreen
                      td Fills half the height of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code orient-left
                      td Places the content box on the left of the screen.
                    tr
                      td
                        code orient-center
                      td Places the content box in the center of the screen.
                    tr
                      td
                        code orient-right
                      td Places the content box on the right side of the screen.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code content-align-left
                      td Left-aligns content.
                    tr
                      td
                        code content-align-center
                      td Center-aligns content.
                    tr
                      td
                        code content-align-right
                      td Right-aligns content.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code image-position-left
                      td Left-positions image.
                    tr
                      td
                        code image-position-center
                      td Center-positions image.
                    tr
                      td
                        code image-position-right
                      td Right-positions image.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-content-fade-up
                      td Fades content up on page load.
                    tr
                      td
                        code onload-content-fade-down
                      td Fades content down on page load.
                    tr
                      td
                        code onload-content-fade-left
                      td Fades content left on page load.
                    tr
                      td
                        code onload-content-fade-right
                      td Fades content right on page load.
                    tr
                      td
                        code onload-content-fade-in
                      td Fades in content on page load.
                    tr
                      td
                        code onload-image-fade-in
                      td Fades in image on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-content-fade-up
                      td Fades content up on page scroll.
                    tr
                      td
                        code onscroll-content-fade-down
                      td Fades content down on page scroll.
                    tr
                      td
                        code onscroll-content-fade-left
                      td Fades content left on page scroll.
                    tr
                      td
                        code onscroll-content-fade-right
                      td Fades content right on page scroll.
                    tr
                      td
                        code onscroll-content-fade-in
                      td Fades in content on page scroll.
                    tr
                      td
                        code onscroll-image-fade-in
                      td Fades in image on page scroll.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code invert
                      td Inverts the color scheme.
                    tr
                      td
                        code color1
                      td Uses background color #1.
                    tr
                      td
                        code color2
                      td Uses background color #2.
                    tr
                      td
                        code color3
                      td Uses background color #3.
                    tr
                      td
                        code color4
                      td Uses background color #4.
                    tr
                      td
                        code color5
                      td Uses background color #5.
                    tr
                      td
                        code color6
                      td Uses background color #6.
                    tr
                      td
                        code color7
                      td Uses background color #7.
        // Gallery
        section#reference-gallery
          header
            h3 Gallery
          .content
            h4 HTML
            pre.
              
            hr
            // style1
            section
              h4
                code gallery style1
              p A grid of thumbnails with optional lightbox support. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code small
                      td Uses small thumbnails.
                    tr
                      td
                        code medium
                      td Uses medium thumbnails.
                    tr
                      td
                        code big
                      td Uses big thumbnails.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code lightbox
                      td Enables lightbox behavior.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-fade-in
                      td Fades in thumbnails on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-fade-in
                      td Fades in thumbnails on page scroll.
            hr
            // style2
            section
              h4
                code gallery style2
              p
                | A carousel of thumbnails with optional lightbox support. Supports these modifiers:
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code small
                      td Uses small thumbnails.
                    tr
                      td
                        code medium
                      td Uses medium thumbnails.
                    tr
                      td
                        code big
                      td Uses big thumbnails.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code lightbox
                      td Enables lightbox behavior.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-fade-in
                      td Fades in thumbnails on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-fade-in
                      td Fades in thumbnails on page scroll.
        // Items
        section#reference-items
          header
            h3 Items
          .content
            h4 HTML
            pre.
              
            hr
            // style1
            section
              h4
                code items style1
              p A grid of items separated by borders.
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code small
                      td Uses small items.
                    tr
                      td
                        code medium
                      td Uses medium items.
                    tr
                      td
                        code big
                      td Uses big items.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-fade-in
                      td Fades in items on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-fade-in
                      td Fades in items on page scroll.
            hr
            // style2
            section
              h4
                code items style2
              p An outlined grid of items separated by borders.
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code small
                      td Uses small items.
                    tr
                      td
                        code medium
                      td Uses medium items.
                    tr
                      td
                        code big
                      td Uses big items.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-fade-in
                      td Fades in items on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-fade-in
                      td Fades in items on page scroll.
            hr
            // style3
            section
              h4
                code items style3
              p A borderless grid of items.
              .table-wrapper
                table.alt.uniform.fixed
                  tbody
                    tr
                      td
                        code small
                      td Uses small items.
                    tr
                      td
                        code medium
                      td Uses medium items.
                    tr
                      td
                        code big
                      td Uses big items.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onload-fade-in
                      td Fades in items on page load.
                    tr.alt
                      td(colspan='2')
                    tr
                      td
                        code onscroll-fade-in
                      td Fades in items on page scroll.
        // Wrapper
        section#reference-wrapper
          header
            h3 Wrapper
          .content
            h4 HTML
            pre.
              
            h4 Modifiers
            .table-wrapper
              table.alt.uniform.fixed
                tbody
                  tr
                    td
                      code invert
                    td Inverts the color scheme.
                  tr
                    td
                      code color1
                    td Uses background color #1.
                  tr
                    td
                      code color2
                    td Uses background color #2.
                  tr
                    td
                      code color3
                    td Uses background color #3.
                  tr
                    td
                      code color4
                    td Uses background color #4.
                  tr
                    td
                      code color5
                    td Uses background color #5.
                  tr
                    td
                      code color6
                    td Uses background color #6.
                  tr
                    td
                      code color7
                    td Uses background color #7.
  // Footer
  footer.wrapper.style1.align-center
    .inner
      ul.icons
        li
          a.icon.brands.style2.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.brands.style2.fa-facebook-f(href='#')
            span.label Facebook
        li
          a.icon.brands.style2.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.brands.style2.fa-linkedin(href='#')
            span.label LinkedIn
        li
          a.icon.style2.fa-envelope(href='#')
            span.label Email
      p
        | &copy; Untitled. Design: 
        a(href='https://html5up.net') HTML5 UP
        | .
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrollex.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
// Note: Only needed for demo purposes. Delete for production sites.
script(src='/js/demo.js')

