doctype html
head
  title Give PPE, Give Life
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main.css')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper.divided
  // One
  section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
    .content
      h1 Donate masks, gloves, and gowns now!
      p.major
        | Clinicians
        a(href='https://www.wsj.com/articles/hospitals-facing-coronavirus-are-running-out-of-masks-other-key-equipment-11584525604') around
        a(href='https://www.npr.org/sections/goatsandsoda/2020/03/16/814929294/covid-19-has-caused-a-shortage-of-face-masks-but-theyre-surprisingly-hard-to-mak') the
        a(href='https://www.nytimes.com/2020/03/18/health/coronavirus-test-shortages-face-masks-swabs.html') world
        a(href='https://www.wired.com/story/surreal-frenzy-inside-us-biggest-mask-maker/') are
        a(href='https://www.usnews.com/news/best-countries/articles/2020-03-18/the-global-effort-to-tackle-the-coronavirus-face-mask-shortage') running
        |  out of
        a(href='https://www.fda.gov/medical-devices/general-hospital-devices-and-supplies/personal-protective-equipment-infection-control') Personal Protective Equipment
        | . Let's all step up and protect the front line.
      p
        | The process is simple:
        ol
          li locate unused masks, gowns, sanitizer, etc.
          li claim your free shipping label
          li ship your donation to health systems in need.
      ul.actions.stacked
        li
          a.button.primary.big.wide.smooth-scroll-middle(href='https://docs.google.com/forms/d/e/1FAIpQLSf2IRaaCztYXu7VSKaEYwRIFdet1SCeLgkdRJd1c01f83Qo-Q/viewform') DONATE NOW!
      p
        | Are you a clinician?
        a(href="mailto:pav.gup@gmail.com") Tell us what you need?
    .image
      img(src='images/surgeon-splash.jpg' alt='')
  // Footer
  footer.wrapper.style1.align-center
    .inner
      ul.icons
        li
          a.icon.brands.style2.fa-twitter(href='https://twitter.com/pavgup')
            span.label Twitter
        li
          a.icon.brands.style2.fa-linkedin-in(href='https://linkedin.com/in/pavgup')
            span.label LinkedIn
        li
          a.icon.style2.fa-envelope(href='mailto:pav.gup@gmail.com')
            span.label Email
      p
        | &copy; Steal this. No rights reserved.
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrollex.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
