doctype html
//
  Dimension by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Give PPE, Give life
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main.css')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#learnwrapper
  // Header
  div
    .content
      .inner
        h1 Personal Protective Equipment Crisis
        p Hospitals everywhere are unable to provide those on the frontlines with adequate protective equipment. For example, in the United States, the government is simply not doing enough to solve this problem. Bizarre agendas are leading to bizarre financial allocations. If governments are unwilling to step up to the task here - the people must rely on grassroots efforts and the private sector.
        p We think that as of now we will need to attack this problem from a few different angles:
        ul
          li We believe that we need to track demand in order to allocate resources accordingly. We are organizing a means with which to do so.
          li Crowdsourcing equipment from folks. This means finding ways to incentivize people to give up their surplus of n95 masks or other equipment. We aim to cover your shipping costs - please reach out.
          li Consolidating quotes from manufacturers that may be unknown to major institutions, connecting them to folks with capital and delivery networks. Additionally, a few of us are very interested in putting our own capital in the mix to aid in these purchases. We may consider raising donations to help here.
        p So where exactly do we stand? We want to help crowd source PPE and additionally connect manufacturers with people looking to purchase PPE on the behalf of our health care infrastructure.
        p What is the current manufacturing outlook?
  // Footer
  footer#footer
    p.copyright
      | &copy; None. 
      a(href='https://github.com/pavgup/pg.gl') Steal this.
      |  Design: 
      a(href='https://html5up.net') HTML5 UP
      | .
// BG
#bg
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
