doctype html
head
  title Give PPE, Give Life
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:site' content='@pavgup')
  meta(name='twitter:creator' content='@pavgup')
  meta(name='twitter:title' content='Receive or Donate #COVID19 Supplies')
  meta(name='twitter:description' content="Lets take our unused medical supplies and shift them to hospitals in desperate need! Providers, please tell us what you need and where you need it, we're listening!")
  meta(name='twitter:image' content='https://pg.gl/images/maskup-twitter-splash.png?uniqueid=provider123')

  link(rel='stylesheet' href='/css/main.css')
  noscript
    link(rel='stylesheet' href='/css/noscript.css')
// Wrapper
#wrapper.divided
  // One
  section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
    .content
      h1 We hear you! What do you need? How do we contact you?
      p.major
        | Healthcare providers 
        a(href='https://www.wsj.com/articles/hospitals-facing-coronavirus-are-running-out-of-masks-other-key-equipment-11584525604') around 
        a(href='https://www.npr.org/sections/goatsandsoda/2020/03/16/814929294/covid-19-has-caused-a-shortage-of-face-masks-but-theyre-surprisingly-hard-to-mak') the 
        a(href='https://www.nytimes.com/2020/03/18/health/coronavirus-test-shortages-face-masks-swabs.html') world 
        a(href='https://www.wired.com/story/surreal-frenzy-inside-us-biggest-mask-maker/') are 
        a(href='https://www.usnews.com/news/best-countries/articles/2020-03-18/the-global-effort-to-tackle-the-coronavirus-face-mask-shortage') running
        |  out of 
        a(href='https://www.fda.gov/medical-devices/general-hospital-devices-and-supplies/personal-protective-equipment-infection-control') Personal Protective Equipment
        | . Let's all step up and protect the front line.
      ul.actions
        li
          a.button.primary.big.wide.smooth-scroll-middle(href="https://docs.google.com/forms/d/e/1FAIpQLSdzX70z11i_gTPyjO5gN2w2eoZ4kTtaIM-kFbMq2lxvUCMwJA/viewform?usp=sf_link") Tell us what you need; click here.
      ul.actions
        li
          a.button.primary.big.wide.smooth-scroll-middle.icon.brands.style1.fa-slack(href="https://join.slack.com/t/covidmaskup/shared_invite/zt-crn13ypd-pm9lKIT61HW4ZhXKWt5ihw") FIND US ON SLACK
        li
          a.button.primary.big.wide.smooth-scroll-middle.icon.brands.style1.fa-twitter(href='https://twitter.com/share?url=https%3A%2F%2Fpg.gl&text=Let%27s+join+the+%23COVID19+fight%21+Do+you+have+masks%2C+gowns%2C+sanitizer%2C+etc.+that+could+be+donated+%28with+zero+cost+shipping%29+to+health+systems+around+the+country%3F+%23maskup+here!') PLEASE SHARE!
          script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
      ul.actions
    .image
      img(src='images/maskup.png' alt='')
  // Footer
  footer.wrapper.style1.align-center
    .inner
      ul.icons
        li
          a.icon.brands.style2.fa-twitter(href='https://twitter.com/pavgup')
            span.label Twitter
        li
          a.icon.brands.style2.fa-linkedin-in(href='https://linkedin.com/in/pavgup')
            span.label LinkedIn
        li
          a.icon.style2.fa-envelope(href='mailto:pav.gup@gmail.com')
            span.label Email
      p
        | &copy; Steal this. No rights reserved.
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrollex.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-161190608-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161190608-1');

